@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.front-card {
  background-image: url("./assets/bg-card-front.png");
  height: 150px;

  width: 270px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 12px;
  margin-top: -60px;
  border-radius: 12px;
  position: relative;
  z-index: 45;
}
.back-card {
  background-image: url("./assets/bg-card-back.png");
  height: 150px;

  width: 270px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 32px;
  border-radius: 12px;
  margin-top: 24px;
  position: relative;
  z-index: 20;
}
.first-row {
  background-image: url("./assets/bg-main-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
}

